@import '../../styles/vars';

// Блок, содержащий пункты меню
.menu__items_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  padding-left: $step * 3;
  transition: all 300ms;
  z-index: 2;

  .menu__item + .menu__item {
    margin-top: 2vh;
  }

  .menu__icons_item {
    margin-top: 6vh;
  }

  // На десктопах фон блока с пунктами меню немного прозрачен
  @media (min-width: $desktop-min-start) {
    background-color: $black-opacity;
  }

  // На экранах большего размера пункты меню сильнее смещены от края окна
  @media (min-width: $tablet-start) {
    padding-left: $step * 16;
  }
}

// Отдельный пункт меню с текстом
.menu__item {
  text-transform: uppercase;
  color: $white;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  transition: 500ms all;

  &:hover {
    color: $main-accent;
    transition: 500ms all;
  }

  // При увеличении размера экрана - увеличиваем размер шрифта меню
  @media (min-width: $tablet-start) {
    font-size: 2em;
  }

  @media (min-width: $desktop-min-start) {
    font-size: 2.5em;
  }
}

// Пункт меню с иконками */
.menu__icons_item {
  cursor: pointer;

  svg {
    path {
      transition: 500ms all;
    }

    &:hover path {
      fill: $main-accent;
      transition: 500ms all;
    }
  }

  svg + svg {
    margin-left: $step * 3;
  }
}