@import '../../styles/vars';
@import '../../styles/buttons';

.order_details {
  border-top: 1px solid $gray-light;
  border-left: none;
  padding: $step * 2;

  &__header {
    text-align: right;
    font-size: 1.2em;
  }

  &__parameter_list {
    padding: ($step * 4) 0;
    width: 100%;
    font-size: 0.9em;
  }

  &__parameter {
    display: flex;
    justify-content: space-between;
  }

  &__parameter_name {
    color: $black;
    font-weight: 300;
  }

  &__spacer {
    flex: 1;
    border-bottom: 1px dotted $gray;
    min-width: $step * 4;
    margin: 0 $step;
  }

  &__parameter_value {
    color: $gray;
    text-align: right;
    font-weight: 300;
  }

  &__button {
    width: 100%;
  }
}

@media (min-width: $tablet-start) {
  .order_details {
    &__parameter_list {
      font-size: 1em;
    }
  }
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .order_details {
    &__button {
      width: initial;
      float: right;
    }
  }
}

@media (min-width: $desktop-min-start) {
  .order_details {
    border-top: none;
    border-left: 1px solid $gray-light;
    padding: ($step * 2) 0 ($step * 2) ($step * 2);
  }
}