@import '../../styles/vars';

.lang_selector {
  border: none;
  background-color: transparent;
  color: $white;
  width: $step * 6;
  height: $step * 6;
  border-radius: 50%;
  z-index: 2;
  user-select: none;
  cursor: pointer;
  transition: 300ms all;

  &:hover {
    border: 1px solid $main-accent;
    color: $main-accent;
    transition: 300ms all;
  }
}