@import '../../styles/vars';

.order_creator {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

@media (min-width: $tablet-start) {
  .order_creator {
    flex-direction: row;
  }
}