@import '../../styles/vars';

.order_creator {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: $tablet-start) {
  .order_creator {
    flex-direction: row;

    &__content {
      margin-left: $step * 8;
    }
  }
}