// Основные цвета
$main-accent: hsla(148, 87%, 41%, 1);
$main-accent-opacity: hsla(148, 87%, 41%, 0.3);
$black: hsla(0, 0%, 7%, 1);
$black-opacity: hsla(0, 0%, 7%, 0.9);
$gray: hsla(0, 0%, 60%, 1);
$gray-light: hsla(0, 0%, 93%, 1);

// Градиенты
$default-gradient: linear-gradient(90deg, hsla(148, 87%, 41%, 1) 2.61%, hsla(158, 97%, 32%, 1) 112.6%);
$hover_gradient: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61%, hsla(158, 97%, 22%, 1) 112.6%);
$active-gradient: linear-gradient(90deg, hsla(148, 87%, 21%, 1) 2.61%, hsla(158, 97%, 12%, 1) 112.6%);
$focus-gradient: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61%, hsla(158, 97%, 22%, 1) 112.6%);

// Радиус для границ элементов
$main-radius: 8px;
$small-radius: 4px;

// Контрольные точки для медиазапросов
$mobile-start: 320px;
$mobile-end: 767px;

$tablet-start: 768px;
$tablet-end: 1023px;

$desktop-min-start: 1024px;
$desktop-min-end: 1439px;

$desktop-start: 1440px;

// Минимальный шаг сетки
$step: 8px;