@import '../../../../styles/vars';

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $step * 6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $main-accent-opacity;
  }

  svg {
    width: $step * 5;
    height: $step * 5;
  }
}

.arrow_left {
  left: 0;
}

.arrow_right {
  right: 0;
}