@import '../../vars.scss';

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title__main {
    margin-bottom: 30vh;

    // Корректируем расположение центрального блока для мобильных устройств при повороте экрана в портретный режим
    @media (orientation: landscape) and (max-width: $mobile-end) {
      margin-bottom: 0;
    }
  }
}

// Стили для верхнего блока
.title__header {
  display: flex;
  width: 100%;
  padding: 0 ($step * 2);

  @media (min-width: $tablet-start) and (max-width: $desktop-min-end) {
    padding: ($step * 2) ($step * 4);
  }

  @media (min-width: $desktop-start) {
    padding: ($step * 4) ($step * 6);
  }

  .title__city {
    margin-left: auto;
  }
}

.title__small_service_title {
  display: none;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 2em;
  color: $main-accent;

  @media (min-width: $tablet-start) {
    display: block;
  }
}

.title__city {
  font-family: 'Roboto Regular', sans-serif;
  display: flex;
  align-items: center;
  color: $gray;

  svg {
    margin-right: $step;
  }
}

// Блок по середине, с крупным названием сервиса и слоганом
.title__main {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title__service_name, .title__big_service_title {
    margin: 0 ($step * 2);

    @media (min-width: $tablet-start) and (max-width: $desktop-min-end) {
      margin: 0 ($step * 4);
    }

    @media (min-width: $desktop-start) {
      margin: 0 ($step * 6);
    }
  }

  .title__slogan {
    margin: $step ($step * 2) ($step * 2);

    @media (min-width: $tablet-start) and (max-width: $desktop-min-end) {
      margin: ($step * 2) ($step * 4) ($step * 4);
    }

    @media (min-width: $desktop-start) {
      margin: ($step * 4) ($step * 6) ($step * 6);
    }
  }

  .title__reservation_button {
    margin-left: 0;

    @media (min-width: $tablet-start) and (max-width: $desktop-min-end) {
      margin-left: $step * 4;
    }

    @media (min-width: $desktop-start) {
      margin-left: $step * 6
    }
  }
}

.title__service_name {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 2em;

  @media (min-width: $tablet-start) {
    font-size: 4em;
  }
}

.title__big_service_title {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 2em;
  color: $main-accent;

  @media (min-width: $tablet-start) {
    font-size: 4em;
  }
}

.title__slogan {
  font-family: 'Roboto Regular', sans-serif;
  color: $gray;

  @media (min-width: $tablet-start) {
    font-size: 1.5em;
  }
}

// Кнопка бронирования
.title__reservation_button {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 1.2em;
  background-image: $default-gradient;
  border: none;
  outline: none;
  color: white;
  padding: ($step * 2) ($step * 4);
  cursor: pointer;

  &:hover {
    background-image: $hover-gradient;
  }

  &:active {
    background-image: $active-gradient;
  }

  @media (min-width: $tablet-start) {
    border-radius: $main-radius;
    align-self: flex-start;
  }
}

// Нижний блок: для копирайта и телефона
.title__footer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  padding: $step $step * 2;
  background-color: $black;
  color: white;

  @media (min-width: $tablet-start) {
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }

  @media (min-width: $tablet-start) and (max-width: $desktop-min-end) {
    padding: ($step * 2) ($step * 4);
  }

  @media (min-width: $desktop-start) {
    padding: ($step * 4) ($step * 6);
  }
}

.title__phone {
  font-family: 'Roboto Regular', sans-serif;
  color: $main-accent;

  @media (min-width: $tablet-start) {
    color: black;
  }
}

.title__copyright {
  font-family: 'Roboto Regular', sans-serif;
  color: white;

  @media (min-width: $tablet-start) {
    color: $gray;
  }
}