@import '../../../styles/vars';
@import '../../../styles/buttons';

.confirm_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white-opacity;
  z-index: 1000;
  padding: $step;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    padding: $step * 4;
    background-color: $white;
    border-radius: $small-radius;
  }

  &__caption {
    text-align: center;
    font-size: 1.5em;
    margin: ($step * 4) 0;
  }

  &__control {
    display: flex;
    flex-direction: column;

    button + button {
      margin-top: $step;
      margin-left: 0;
    }
  }
}

@media (min-width: $tablet-start) {
  .confirm_modal {
    flex-direction: row;
    align-items: center;

    &__control {
      flex-direction: row;

      button + button {
        margin-top: 0;
        margin-left: $step;
      }
    }
  }
}