@import '../../../styles/vars';

.selector_item {

  &__label_block {
    text-align: left;
    padding: $step ($step * 2) $step 0;

    label {
      font-weight: 300;
    }
  }

  &__input_block {
    position: relative;

    input {
      width: calc(100% - 1em);
      font-size: 1em;
      font-weight: 300;
      outline: none;
      border: none;
      border-bottom: 1px solid $gray;
      padding-right: 1.5em;
    }
  }

  &__clear_button {
    cursor: pointer;
    position: relative;
    left: -1em;
  }

  &__popup__block {
    position: absolute;
    top: 2em;
    left: 0;
    width: calc(100% - 1em);
    background-color: white;
    border: 1px solid $gray-light;
    border-radius: $small-radius;
    z-index: 1;
    padding: 5px;
    max-height: 12em;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      border-radius: 5px;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: dimgray;
    }

    &::-webkit-scrollbar-corner {
      border-radius: 5px;
    }
  }
}

@media (min-width: $desktop-min-start) {
  .selector_item {
    display: table-row;

    &__label_block {
      display: table-cell;
      text-align: right;
    }

    &__input_block {
      display: table-cell;
      width: 20em;
    }
  }
}