@import '../../vars.scss';
@import '../../rulePresets';

.slider {
  position: relative;
  overflow: auto;
}

// Стили для блоков со стрелками
.slider__arrow_left, .slider__arrow_right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $step * 6;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  cursor: pointer;
  background-color: $main-accent-opacity;

  &:hover {
    opacity: 0.8;
  }

  svg {
    width: $step * 5;
    height: $step * 5;
  }
}

.slider__arrow_left {
  left: 0;
}

.slider__arrow_right {
  right: 0;
}

// Стиль для блока, создающего затемнение
.cap {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, black);
  opacity: 0.9;
  pointer-events: none;
}

// TODO Вставить стили для слайдов

// Цветовые пресеты для кнопок на слайдах
.button_1 {
  background: linear-gradient(90deg, hsla(169, 58%, 18%, 1) 0%, hsla(128, 83%, 26%, 1) 100%);

  &:hover {
    background: linear-gradient(90deg, hsla(169, 58%, 8%, 1) 0%, hsla(128, 83%, 16%, 1) 100%);
  }

  &:active {
    background: linear-gradient(90deg, hsla(169, 58%, 0%, 1) 0%, hsla(128, 83%, 6%, 1) 100%);
  }
}

.button_2 {
  background: linear-gradient(90deg, hsla(216, 58%, 18%, 1) 0%, hsla(169, 83%, 26%, 1) 100%);

  &:hover {
    background: linear-gradient(90deg, hsla(216, 58%, 8%, 1) 0%, hsla(169, 83%, 16%, 1) 100%);
  }

  &:active {
    background: linear-gradient(90deg, hsla(216, 58%, 0%, 1) 0%, hsla(169, 83%, 6%, 1) 100%);
  }
}

.button_3 {
  background: linear-gradient(90deg, hsla(32, 58%, 18%, 1) 0%, hsla(335, 83%, 26%, 1) 100%);

  &:hover {
    background: linear-gradient(90deg, hsla(32, 58%, 8%, 1) 0%, hsla(335, 83%, 16%, 1) 100%);
  }

  &:active {
    background: linear-gradient(90deg, hsla(32, 58%, 0%, 1) 0%, hsla(335, 83%, 6%, 1) 100%);
  }
}

.button_4 {
  background: linear-gradient(90deg, hsla(263, 58%, 18%, 1) 0%, hsla(295, 83%, 26%, 1) 100%);

  &:hover {
    background: linear-gradient(90deg, hsla(263, 58%, 8%, 1) 0%, hsla(295, 83%, 16%, 1) 100%);
  }

  &:active {
    background: linear-gradient(90deg, hsla(263, 58%, 0%, 1) 0%, hsla(295, 83%, 6%, 1) 100%);
  }
}