@import '../../../../styles/vars';

.map_label {
  width: 2em;
  height: 2em;
  border-radius: 50%;

  cursor: pointer;
  transition: all 150ms;
  background-color: white;

  &:hover {
    transform: scale(1.5);
  }
}

.city_label {
  border: 4px solid $blue;
}

.point_label {
  border: 4px solid $main-accent;
}