@import '../../styles/vars';
@import '../../styles/rulePresets';

.slider {
  position: relative;
  overflow: hidden;
}

// Стили для слайдов
.slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  transition: all 300ms;
}

.prev_slide {
  transform: translateX(-100%);
}

.next_slide {
  transform: translateX(100%);
}

.slide__text_block {
  position: absolute;
  top: 25vh;
  left: $step * 8;
  width: 70%;

  .slide__description {
    margin-top: $step;
  }

  .slide__more_button {
    margin-top: $step * 4;
  }
}

.slide__title {
  font-size: 2.5em;
  color: $white;
}

.slide__description {
  font-weight: 300;
  font-size: 1.5em;
  color: $white;
}

.slide__more_button {
  @extend %button_preset;
  border-radius: $small-radius;
}

// Стиль для блока, создающего затемнение
.cap {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, black);
  opacity: 0.9;
  pointer-events: none;
}

// Цветовые пресеты для кнопок на слайдах
.button_0 {
  background: $green-gradient;

  &:hover {
    background: $green-gradient-hover;
  }

  &:active {
    background: $green-gradient-active;
  }
}

.button_1 {
  background: $teal-gradient;

  &:hover {
    background: $teal-gradient-hover;
  }

  &:active {
    background: $teal-gradient-active;
  }
}

.button_2 {
  background: $brown-gradient;

  &:hover {
    background: $brown-gradient-hover;
  }

  &:active {
    background: $brown-gradient-active;
  }
}

.button_3 {
  background: $purple-gradient;

  &:hover {
    background: $purple-gradient-hover;
  }

  &:active {
    background: $purple-gradient-active;
  }
}