@import '../styles/vars';

.main_page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // В режиме для мобильных телефонов блок с описанием сервиса занимает все доступное пространство
  > section:nth-child(2) {
    flex: 1;
  }

  // В режиме для мобильных телефонов и "таблеток" слайдер отключен
  > section:nth-child(3) {
    display: none;
  }

  // При переходе к большим разрешениям экрана выстраиваем компоненты главной страницы в строку
  @media (min-width: $tablet-start) {
    flex-direction: row;
  }

  // В режимах для десктопов слайдер виден, но при разных разрешениях занимает разную площадь
  @media (min-width: $desktop-min-start) and (max-width: $desktop-min-end) {
    > section:nth-child(2) {
      flex: 4;
    }

    > section:nth-child(3) {
      display: flex;
      flex: 3;
    }
  }

  @media (min-width: $desktop-start) {
    > section:nth-child(2) {
      flex: 1;
    }

    > section:nth-child(3) {
      display: flex;
      flex: 1;
    }
  }
}