@import '../styles/vars';
@import '../menu_components/Menu/Menu';
@import '../Title/Title';
@import '../slider_components/Slider/Slider';

.main_page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .title {
    flex: 1;
  }

  .slider {
    display: none;
  }
}

@media (min-width: $tablet-start) {
  .main_page {
    flex-direction: row;
  }
}

@media (min-width: $desktop-min-start) and (max-width: $desktop-min-end) {
  .main_page {
    .title {
      flex: 4;
    }

    .slider {
      display: flex;
      flex: 3;
    }
  }
}

@media (min-width: $desktop-start) {
  .main_page {
    .title {
      flex: 1;
    }

    .slider {
      display: flex;
      flex: 1;
    }
  }
}