@import '../../vars.scss';

/* Контейнер со всеми элементами меню: кнопкой, блоком с отдельными пунктами меню и т.д. */
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  min-height: $step * 6;
  padding: 0 ($step * 2) 0 $step;

  .menu__title {
    margin-left: auto;
  }

  /* При увеличении размеров окна - панель меню становится вертикальной и меняет цвет на черный */
  @media (min-width: $tablet-start) {
    flex-direction: column;
    background-color: $black;
    width: $step * 8;
    min-height: 100vh;
    max-height: 100%;
    padding: $step 0 ($step * 4) 0;
  }
}

/* Кнопка меню и её составляющие */
.menu__button {
  position: relative;
  width: $step * 6;
  height: $step * 6;
  cursor: pointer;
  z-index: 1;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms;

    path {
      stroke: black;
      transition: all 300ms;

      /* При увеличении размеров окна - линии кнопки меню становятся черными */
      @media (min-width: $tablet-start) {
        stroke: white;
      }
    }
  }
}

/* Заголовок с названием сайта */
.menu__title {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 2em;
  color: $main-accent;

  /* Данный заголовок должен быть виден только на устройствах с небольшим экраном */
  @media (min-width: $tablet-start) {
    display: none;
  }
}

/* Блок, содержащий пункты меню */
.menu__items_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  padding: $step * 2;
  transition: all 300ms;

  .menu__item + .menu__item {
    margin-top: $step * 2;
  }

  .menu__icons_item {
    margin-top: $step * 6;
  }

  /* На десктопах меню немного прозрачное */
  @media (min-width: $desktop-min-start) {
    background-color: $opacity-black;
  }

  /* В зависимости от размеров экрана изменяем положение пунктов меню */
  @media (min-width: $tablet-start) {
    padding-left: $step * 16;
  }
}

/* Отдельный пункт меню с текстом */
.menu__item {
  font-family: 'Roboto Regular', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  transition: 500ms all;

  &:hover {
    color: $main-accent;
    transition: 500ms all;
  }

  /* При увеличении размера экрана - увеличиваем размер шрифта меню */
  @media (min-width: $tablet-start) {
    font-size: 2em;
  }

  @media (min-width: $desktop-min-start) {
    font-size: 2.5em;
  }
}

/* Пункт меню с иконками */
.menu__icons_item {
  svg {
    cursor: pointer;
  }

  svg path {
    transition: 500ms all;
  }

  svg:hover path {
    fill: $main-accent;
    transition: 500ms all;
  }

  svg + svg {
    margin-left: $step * 3;
  }
}

/* Селектор выбора языка */
.menu__lang_selector {
  font-family: 'Roboto Regular', sans-serif;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  width: $step * 5;
  height: $step * 5;
  border-radius: 50%;
  z-index: 1;
  user-select: none;
  transition: 500ms all;
  cursor: pointer;

  &:hover {
    border: 1px solid $main-accent;
    color: $main-accent;
    transition: 500ms all;
  }
}

.menu__lang_selector_fixed {
  position: fixed;
  bottom: $step;
  left: $step;
  display: flex;

  @media (max-width: $tablet-start) {
    display: none;
  }
}

.menu__lang_selector_mobile {
  display: none;

  @media (max-width: $mobile-end) {
    display: flex;
    position: absolute;
    bottom: $step;
    left: $step;
  }
}

/* Модификатор стилей для открытого меню */
.opened {

  /* Модификаторы кнопки меню */
  .menu__button {
    position: fixed;
    top: $step;
    left: $step;
  }

  .menu__button svg {
    transition: all 300ms;

    path {
      stroke: white;
      transition: all 300ms;
    }
  }

  .menu__button svg:first-child {
    opacity: 0;
  }

  .menu__button svg:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu__button svg:nth-child(3) {
    transform: rotate(-45deg);
  }

  /* Модификаторы блока с пунктами меню */
  .menu__items_block {
    left: 0;
    transition: all 300ms;
  }
}