@import '../../styles/vars';

// Контейнер с элементами меню: кнопкой, блоком с отдельными пунктами меню и т.д.
.menu {
  display: flex;
  align-items: center;
  background-color: white;
  min-height: $step * 8;
  padding: $step ($step * 2);

  .menu__title {
    margin-left: auto;
  }

  // При увеличении размеров окна - панель меню становится вертикальной и меняет цвет на черный
  @media (min-width: $tablet-start) {
    flex-direction: column;
    width: $step * 8;
    min-height: 100%;
    background-color: $black;
    padding: $step;
  }
}

// Кнопка меню и её составляющие
.menu__button {
  position: relative;
  width: $step * 6;
  height: $step * 6;
  cursor: pointer;
  transition: all 300ms;
  z-index: 2;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms;

    path {
      stroke: black;
      transition: all 300ms;

      // При увеличении размеров окна - линии кнопки меню становятся белыми (так как фон панели меню меняется на черный)
      @media (min-width: $tablet-start) {
        stroke: white;
      }
    }
  }
}

// Заголовок с названием сайта
.menu__title {
  font-weight: bold;
  font-size: 2em;
  color: $main-accent;

  // Данный заголовок должен быть виден только на устройствах с небольшим экраном
  @media (min-width: $tablet-start) {
    display: none;
  }
}

// Блок, содержащий пункты меню
.menu__items_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  padding-left: $step * 3;
  transition: all 300ms;
  z-index: 1;

  .menu__item + .menu__item {
    margin-top: 2vh;
  }

  .menu__icons_item {
    margin-top: 6vh;
  }

  // На десктопах фон блока с пунктами меню немного прозрачен
  @media (min-width: $desktop-min-start) {
    background-color: $opacity-black;
  }

  // На экранах большего размера пункты меню сильнее смещены от края окна
  @media (min-width: $tablet-start) {
    padding-left: $step * 16;
  }
}

// Отдельный пункт меню с текстом
.menu__item {
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  transition: 500ms all;

  &:hover {
    color: $main-accent;
    transition: 500ms all;
  }

  // При увеличении размера экрана - увеличиваем размер шрифта меню
  @media (min-width: $tablet-start) {
    font-size: 2em;
  }

  @media (min-width: $desktop-min-start) {
    font-size: 2.5em;
  }
}

// Пункт меню с иконками */
.menu__icons_item {
  cursor: pointer;

  svg {
    path {
      transition: 500ms all;
    }

    &:hover path {
      fill: $main-accent;
      transition: 500ms all;
    }
  }

  svg + svg {
    margin-left: $step * 3;
  }
}

// Селектор выбора языка
.menu__lang_selector {
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  width: $step * 6;
  height: $step * 6;
  border-radius: 50%;
  z-index: 2;
  user-select: none;
  cursor: pointer;
  transition: 500ms all;

  &:hover {
    border: 1px solid $main-accent;
    color: $main-accent;
    transition: 500ms all;
  }
}

// Модификаторы для селектора выбора языка
.menu__lang_selector_fixed {
  position: fixed;
  bottom: $step;
  left: $step;
  display: flex;

  @media (max-width: $tablet-start) {
    display: none;
  }
}

.menu__lang_selector_mobile {
  display: none;

  @media (max-width: $mobile-end) {
    display: flex;
    position: absolute;
    bottom: $step * 2;
    left: $step * 3;
  }
}

// Модификатор стилей компонентов для открытого меню
.opened {

  // Модификаторы кнопки меню
  .menu__button {
    position: fixed;
    top: $step;
    left: $step;

    @media (max-width: $mobile-end) {
      left: $step * 2;
    }

    path {
      stroke: white;
      transition: all 300ms;
    }

    svg:first-child {
      opacity: 0;
    }

    svg:nth-child(2) {
      transform: rotate(45deg);
    }

    svg:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  // Модификаторы блока с пунктами меню
  .menu__items_block {
    left: 0;
  }
}