@import '../../vars.scss';

/* Контейнер со всеми элементами меню: кнопкой, блоком с отдельными пунктами меню и т.д. */
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  height: $step * 8;
  padding-left: $step;
  padding-top: 0;

  /* При увеличении размеров окна - панель меню становится вертикальной и меняет цвет на черный */
  @media (min-width: $tablet-start) {
    flex-direction: column;
    background-color: $black;
    width: $step * 8;
    height: 100%;
    padding-left: 0;
    padding-top: $step;
  }
}

/* Кнопка меню и её составляющие */
.menu__button {
  position: relative;
  width: $step * 6;
  height: $step * 6;
  cursor: pointer;
  z-index: 1;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms;

    path {
      stroke: black;
      transition: all 300ms;

      /* При увеличении размеров окна - линии кнопки меню становятся черными */
      @media (min-width: $tablet-start) {
        stroke: white;
      }
    }
  }
}

/* Блок, содержащий пункты меню */
.menu__items_block {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: $opacity-black;
  padding-top: $step * 12;
  padding-left: $step * 2;
  transition: all 300ms;

  .menu__item + .menu__item {
    padding-top: $step * 2;
  }

  /* В зависимости от размеров экрана изменяем положение пунктов меню */
  @media (min-width: $tablet-start) {
    padding-top: $step * 32;
    padding-left: $step * 16;
  }
}

/* Отдельный пункт меню */
.menu__item {
  color: white;
  font-size: 1.5em;
  cursor: pointer;

  &:hover {
    color: $main-accent;
  }

  /* При увеличении размера экрана - увеличиваем размер шрифта меню */
  @media (min-width: $tablet-start) {
    font-size: 2em;
  }

  @media (min-width: $desktop-min-start) {
    font-size: 2.5em;
  }
}

/* Модификатор стилей для открытого меню */
.opened {

  /* Модификаторы кнопки меню */
  .menu__button svg {
    transition: all 300ms;

    path {
      stroke: white;
      transition: all 300ms;
    }
  }

  .menu__button svg:first-child {
    opacity: 0;
  }

  .menu__button svg:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu__button svg:nth-child(3) {
    transform: rotate(-45deg);
  }

  /* Модификаторы блока с пунктами меню */
  .menu__items_block {
    left: 0;
    transition: all 300ms;
  }
}