@import '../../../../styles/vars';

.popup_item {
  font-weight: 300;
  cursor: pointer;
  padding: 2px 5px;
}

.selected_popup_item {
  color: white;
  background-color: $main-accent;
  border-radius: $small-radius;
}
