@import '../../styles/vars';

// Контейнер с элементами меню: кнопкой, блоком с отдельными пунктами меню и т.д.
.menu {
  display: flex;
  align-items: center;
  background-color: $white;
  min-height: $step * 8;
  padding: $step ($step * 2);

  &__title {
    margin-left: auto;
  }

  // При увеличении размеров окна - панель меню становится вертикальной и меняет цвет на черный
  @media (min-width: $tablet-start) {
    flex-direction: column;
    width: $step * 8;
    min-height: 100%;
    background-color: $black;
    padding: $step;
  }
}

// Заголовок с названием сайта
.menu__title {
  font-weight: bold;
  font-size: 2em;
  color: $main-accent;

  // Данный заголовок должен быть виден только на устройствах с небольшим экраном
  @media (min-width: $tablet-start) {
    display: none;
  }
}