@import '../../../styles/vars';

.total_tab {
  padding: ($step * 2) 0 ($step * 2) 0;

  &__details_block {
    li + li {
      margin-top: $step;
    }
  }

  &__confirm_caption {
    display: inline-block;
    margin-bottom: $step * 2;
    font-size: 1.6em;
  }

  &__model_field {
    font-size: 1.4em;
  }

  &__auto_number_field {
    display: inline-block;
    margin: $step 0;
    padding: 4px 12px;
    border: 1px solid $black;
    border-radius: $small-radius;
  }

  &__gas_caption, &__available_caption {
    font-weight: bold;
    padding-right: $step;
  }

  &__gas_value, &__available_value {
    font-weight: 300;
  }

  &__photo_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: $step * 4;

    img {
      max-width: 80%;
      object-fit: contain;
    }
  }

  &__no_photo {
    color: $gray;
  }
}

@media (min-width: $desktop-min-start) {
  .total_tab {
    padding: ($step * 2) ($step * 2) ($step * 2) 0;
    display: flex;

    &__photo_block {
      flex: 1;
      margin-top: 0;

      img {
        max-height: $step * 18;
      }
    }
  }
}