@import '../../../styles/vars';
@import '../../place_selector_components/PlaceSelector/PlaceSelector';

.location_tab {
  display: flex;
  flex-direction: column;
  padding: ($step * 2) 0 ($step * 2) 0;

  .place_selector {
    margin: 0 0 ($step * 4) 0;
  }
}

@media (min-width: $tablet-start) {
  .location_tab {
    padding: ($step * 2) ($step * 2) ($step * 2) 0;
  }
}