@import '../../../styles/vars';
@import '../../place_selector_components/PlaceSelector/PlaceSelector';

.location_tab {
  display: flex;
  flex-direction: column;
  padding-top: $step * 2;
  padding-right: 0;

  .place_form {
    margin: 0 0 ($step * 4) 0;
  }

  &__map_label {
    margin-bottom: $step * 2;
    font-weight: 300;
  }

  // TODO Удалить или изменить этот стиль при реализации карты
  &__map {
    width: 100%;
    border: 1px solid $gray-light;
  }
}

// TODO Удалить или изменить этот медиазапрос при реализации карты
@media (min-width: $desktop-start) {
  .location_tab {
    &__map {
      width: 65%;
    }
  }
}

@media (min-width: $tablet-start) {
  .location_tab {
    padding-right: $step * 2;
  }
}