@import '../../../styles/vars';
@import '../../../common_components/PlaceForm/PlaceForm';

.location_tab {
  padding: $step * 2;
  display: flex;
  flex-direction: column;

  .place_form {
    margin: ($step * 2) 0 ($step * 4) 0;
  }

  &__map_label {
    margin-bottom: $step * 2;
    font-weight: 300;
  }

  &__map {
    width: 100%;
    border: 1px solid $gray-light;
  }
}

@media (min-width: $desktop-start) {
  .location_tab {
    &__map {
      width: 65%;
    }
  }
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .location_tab {
    padding: ($step * 2) ($step * 4);
  }
}

@media (min-width: $desktop-min-start) {
  .location_tab {
    padding: ($step * 2) ($step * 2) ($step * 2) 0;
  }
}