@import 'styles/vars';

%button_preset {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: white;
  padding: ($step * 2) ($step * 4);
  cursor: pointer;
}