// Основные цвета
$main-accent: rgba(14, 194, 97, 1);
$black: rgba(18, 18, 18, 1);
$opacity-black: rgba(18, 18, 18, 0.9);
$gray: rgba(153, 153, 153, 1);
$gray-light: rgba(238, 238, 238, 1);
$background-admin: rgba(245, 246, 248, 1);

// Градиенты
$default-gradient: linear-gradient(90deg, hsla(148, 87%, 41%, 1) 2.61%, hsla(158, 97%, 32%, 1) 112.6%);
$hover_gradient: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61%, hsla(158, 97%, 22%, 1) 112.6%);
$active-gradient: linear-gradient(90deg, hsla(148, 87%, 21%, 1) 2.61%, hsla(158, 97%, 12%, 1) 112.6%);
$focus-gradient: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61%, hsla(158, 97%, 22%, 1) 112.6%);

// Радиус для границ элементов
$main-radius: 8px;

// Контрольные точки для медиазапросов
$mobile-start: 320px;
$mobile-end: 767px;

$tablet-start: 768px;
$tablet-end: 1023px;

$desktop-min-start: 1024px;
$desktop-min-end: 1439px;

$desktop-start: 1440px;

// Минимальный шаг сетки
$step: 8px;