/* Основные цвета */
$main-accent: rgba(14, 194, 97, 1);
$black: rgba(18, 18, 18, 1);
$gray: rgba(153, 153, 153, 1);
$gray-light: rgba(238, 238, 238, 1);
$background-admin: rgba(245, 246, 248, 1);

/* Контрольные точки для медиазапросов */
$mobile-start: 320px;
$mobile-end: 767px;

$tablet-start: 768px;
$tablet-end: 1023px;

$desktop-min-start: 1024px;
$desktop-min-end: 1439px;

$desktop-start: 1440px;

/* Пресеты шагов сетки */
$mobile-step: 8px;
$tablet-step: 16px;
$desktop-min-step: 32px;
$desktop-start-step: 34px;


