@import '../../../../styles/vars';
@import '../../../common/RadioSelector/RadioSelector';
@import '../../DateSelector/DateSelector';

.extra_tab {
  padding: ($step * 2) 0 ($step * 2) 0;

  .radio_selector + .date_selector, .date_selector + .radio_selector {
    margin-top: $step * 5;
  }

  .option_selector {
    margin-top: $step * 5;
  }
}

@media (min-width: $tablet-start) {
  .extra_tab {
    padding: ($step * 2) ($step * 2) ($step * 2) 0;
  }
}