@import '../../../styles/vars';

.extra_tab {
  padding: $step * 2;
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .extra_tab {
    padding: ($step * 2) ($step * 4);
  }
}

@media (min-width: $desktop-min-start) {
  .extra_tab {
    padding: ($step * 2) ($step * 2) ($step * 2) 0;
  }
}